.quantity-slider {
  display: flex;
  gap: .7rem;
}

.quantity-display {
  border: 1px solid var(--primary-color);
  min-width: 45px;
  padding: .2rem 0;
  text-align: center;
  font-weight: var(--fw-400);
  color: var(--contrast-color);
}

.quantity-slider > button {
  display: grid;
  place-items: center;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-size: var(--fs-500);
}

.quantity-slider > button.increase {
  background-color: var(--action-color-400);
  color: var(--neutral-color);
}

.quantity-slider > button.decrease {
  background-color: var(--primary-color);
  color: var(--neutral-color);
}