:root {
  --neutral-color: #263238;
  --primary-color: #455A64;

  /* --action-color-400: #81B2C9; */
  --action-color-400: #e8a058;
  --pop-color: rgb(203, 75, 75);
  --confirm-color: #00BFA5;

  --contrast-color: white;
  --contrast-color-muted: rgb(161, 161, 161);


  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-700: 1.75rem;

  --fw-200: 200;
  --fw-400: 500;
  --fw-700: 700;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  background-color: var(--neutral-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: .5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.page {
  margin: 5rem 0;
}

button {
  cursor: pointer;
  border-radius: 3px;
  transition: filter .3s;
}